 .lead{


    background-repeat: no-repeat; 
background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlihJxHrVOulnD9VUFDJmTQPs-wis6xWVMcgoX0lhp3ma22M7Y');
/* background-color: rgb(97, 97, 99); */

background-size: 100% 100%;
color: whitesmoke;

}